annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.14.2
asgiref==3.11.1
black==26.5.1
blis==1.3.3
catalogue==2.0.10
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
click==8.4.2
cloudpathlib==0.24.0
confection==1.3.3
cryptography==49.0.0
cymem==2.0.13
defusedxml==0.7.1
Django==6.0.7
djangorestframework==3.17.1
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
flake8==7.3.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
isort==8.0.1
Jinja2==3.1.6
joblib==1.5.3
lxml==6.1.1
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mccabe==0.7.0
mdurl==0.1.2
murmurhash==1.0.15
mypy_extensions==1.1.0
narwhals==2.24.0
nltk==3.10.0
numpy==2.5.1
packaging==26.2
pathspec==1.1.1
pdfminer.six==20260107
pdfplumber==0.11.10
pillow==12.3.0
platformdirs==4.10.0
preshed==3.0.13
pycodestyle==2.14.0
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pyflakes==3.4.0
Pygments==2.20.0
PyPDF2==3.0.1
pypdfium2==5.11.0
python-docx==1.2.0
python-magic==0.4.27
pytokens==0.4.1
regex==2026.7.10
requests==2.34.2
rich==15.0.0
scikit-learn==1.9.0
scipy==1.18.0
setuptools==83.0.0
shellingham==1.5.4
smart_open==8.0.0
spacy==3.8.13
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.5.5
srsly==2.5.3
thinc==8.3.13
threadpoolctl==3.6.0
tqdm==4.68.4
typer==0.26.8
typing-inspection==0.4.2
typing_extensions==4.16.0
urllib3==2.7.0
wasabi==1.1.3
weasel==1.0.0
wrapt==2.2.2
